

.header {
    background-color: #F78501;
    text-align: center;
    padding: 30px 40px;
}


.header h2 {
    color: white;
}

#task {
    width: 75%;
    padding: 10px;
    border: none;
}

.button {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float:right;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}


ul {
    list-style-type: none;
    font-size: 18px;
}

ul li {
    padding: 12px 8px 12px 40px;
    cursor: pointer;

}

li:nth-child(even) {
    background: #eee;
}


ul li:hover {
    background: #DDDDDD;
}

  
.close:hover {
    background-color: #f78501;
    color: white;
}

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}
  
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}