.App {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

form {
  background-color: aquamarine;
  padding: 20px;
}

form select {
  width: 120px;
  height: 30px;
  border-radius: 5px;
}

.days {
  display: flex;
  justify-content: space-around;
}
.day {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.temps {
  display: flex;
  font-size: 15px;
}

.max,
.min {
  margin: 5px;
}

.max {
  font-weight: bold;
}